body {
    background-color: #222;
    color: #ffffff;
}


#name{
    color: #FFA500;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    text-align: center;
}

.skills {
    margin: 2rem;
}

.skills-title {
    color: #FFA500;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    
}

.skill-name {
    display: inline-block;
    padding: 8px 12px;
    margin: 4px;
    background-color: #3c3b39;
    color: #ffffff;
    border-radius: 16px;
    cursor: pointer;
}

.skill-level {
    color: #797773;
    display: inline-block;
    padding: 8px 12px;
    margin: 4px;
}

.skills-group {
    margin-bottom: 2rem;
}

.skill-details {
    margin: 2rem;
    padding: 1rem;
}

.skill-proficiency{
    color: #aaa;
    margin-bottom: 1rem;
} 

.skill-proficiency span {
    color: #fff;
}

.skill-recommendations {
    color: #aaa;
    margin-bottom: 1rem;
}

.skill-recommendations span {
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'Helvetica Neue', sans-serif;

}
  
a {
color: #FFA500;
}

h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 2rem auto;
    display: block;
    border: 8px solid #fff;
    box-shadow: 0 0 0 5px #1c1c1c;
}

.profile-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 2rem auto;
    display: block;
    border: 8px solid #fff;
    box-shadow: 0 0 0 5px #1c1c1c;
}

.profile-picture-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 2rem auto;
    display: block;
    border: 8px solid #fff;
    box-shadow: 0 0 0 5px #1c1c1c;
}

.single-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: fit-content;

}

.single-user-details {
    display: flex;
    flex-direction: column;
    color: #aaa;
}

.single-user-name {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    color: #FFA500;
}

.experience {
    color: #FFA500;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.experience-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem;
    color: #aaa;

}

.organization-name {
    margin-bottom: 0.25rem;
}

hr {
    width: 100%;
    height: 0.5px;
    color: #aaa;
    background-color: #aaa;
    margin: 2rem 0;
    border: none;
}